set timeout=5
set default=0

insmod all_video
insmod gfxterm

set theme=/boot/grub/themes/particle/theme.txt

menuentry "Shadow OS (Live)" {
    linux /live/vmlinuz boot=live quiet splash
    initrd /live/initrd.img
}
